{% extends 'base_admin.html.twig' %}

{% block title %}New Baiviet{% endblock %}

{% block body %}
    <h1>Create new Baiviet</h1>

    {{ include('baiviet/_form.html.twig') }}

    <a href="{{ path('app_baiviet_index') }}">back to list</a>
{% endblock %}
