{% extends 'base.html.twig' %}



{% block body %}


    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
                margin: 0;
            }

            html {
                box-sizing: border-box;
            }

            *, *:before, *:after {
                box-sizing: inherit;
            }

            .column {
                float: left;
                width: 33.3%;
                margin-bottom: 16px;
                padding: 0 8px;
            }

            .card {
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                margin: 8px;
                text-align: center;

            }

            .about-section {
                padding: 50px;
                text-align: center;
                background-color: #474e5d;
                color: white;
            }

            .container {
                padding: 0 16px;
            }

            .container::after, .row::after {
                content: "";
                clear: both;
                display: table;
            }

            .title {
                color: grey;
            }

            .button {
                border: none;
                outline: 0;
                display: inline-block;
                padding: 8px;
                color: white;
                background-color: #000;
                text-align: center;
                cursor: pointer;
                width: 100%;
            }
            .hinhanh{
                text-align: center;
            }
            .button:hover {
                background-color: #555;
            }

            @media screen and (max-width: 650px) {
                .column {
                    width: 100%;
                    display: block;
                }

            }
        </style>
    </head>
    <body>

    <div class="about-section">
        <h1>GIỚI THIỆU BAOMOI.COM</h1>
        <p>Baomoi là một website tổng hợp thông tin tiếng Việt hoàn toàn được điều khiển tự động bởi máy tính. Mỗi ngày gần 6500 tin tức từ gần 200 nguồn chính thức của các báo điện tử và trang tin điện tử Việt Nam được Baomoi tự động tổng hợp, phân loại, phát hiện các bài đăng lại, nhóm các bài viết liên quan và hiển thị theo sở thích đọc tin của từng độc giả.</p>
    </div>

    <h2 style="text-align:center; color: #badce3 ">Đại diện của chúng tôi</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img  src="https://lynamde.net/wp-content/uploads/2022/06/Vo-Huan-Hoa-Hong-2-e1677573220383.jpg" alt="Jane" style="width:100%;">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p >CEO & Founder</p>
                    <p></p>
                    <p>janehuanrose@pro.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-6/324082310_1907908732884749_1262243997685875383_n.jpg?_nc_cat=106&cb=99be929b-59f725be&ccb=1-7&_nc_sid=174925&_nc_ohc=nEVD6BDWbfAAX_BvoEi&_nc_ht=scontent.fsgn5-10.fna&oh=00_AfAXDD8lPlW9MuLAwVgSN1sbndgjZ964w-UJ_i9T1T3D4g&oe=64C567CA" style="width:100%">

                <div class="container">
                    <h2>Mike Ross</h2>
                    <p class="title">Art Director</p>

                    <p>mikeloge@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://danviet.mediacdn.vn/upload/2-2019/images/2019-04-02/Vi-sao-Kha-Banh-tro-thanh-hien-tuong-dinh-dam-tren-mang-xa-hoi-khabanh-1554192528-width660height597.jpg" alt="John" style="width:100%">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Designer</p>
                    <p></p>
                    <p>johnokhai11@oal.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>

    </body>
    </html>


{% endblock %}
